/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

i {
  display: inline-block;
  padding-right: 6px;
}

body {
  line-height: 1.7;
}

.page {
  margin: 1rem auto;
  max-width: 800px;
  background-color: #fff;
  padding: 1rem;

  /* Grid CSS */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.page > div {
  padding: 1rem;
}

/* Profile-Photo */

.page .profile-photo {
  grid-column: 1 / -1;
}

.page .profile-photo img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* Name */

.page .name {
  grid-column: 1 / -1;
}

.page .name p{
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}

/* Profile-Info */

.page .profile-info p {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.page .profile-info table{
  width: 100%;
  border-collapse: collapse;
}

.page .profile-info table :is(td, th) {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
  font-weight: normal;
}

/* Bank-Details */

.page .bank-details p {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.page .bank-details table {
  width: 100%;
  border-collapse: collapse;
}

.page .bank-details table :is(td, th) {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
  font-weight: normal;
}

/* Documents */

.page .documents {
  grid-column: 1 / -1;
}

.page .documents p {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.page .documents li {
  line-height: 1.5;
  color: #555;
}